<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>JavaEmail</servlet-name>
        <servlet-class>com.chandu.mail.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>com.chandu.doctor.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dhome</servlet-name>
        <servlet-class>com.chandu.doctor.dhome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regis</servlet-name>
        <servlet-class>com.chandu.users.regis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vv</servlet-name>
        <servlet-class>com.chandu.users.vv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phome</servlet-name>
        <servlet-class>com.chandu.patient.phome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pAuthenticate</servlet-name>
        <servlet-class>com.chandu.patient.pAuthenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pregis</servlet-name>
        <servlet-class>com.chandu.patient.pregis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rappointment</servlet-name>
        <servlet-class>com.chandu.pappointment.Rappointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appoint</servlet-name>
        <servlet-class>com.chandu.pappointment.appoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appoint</servlet-name>
        <servlet-class>com.chandu.pappointment.Appoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dList</servlet-name>
        <servlet-class>com.chandu.patient.dList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plogout</servlet-name>
        <servlet-class>com.chandu.patient.plogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dappointment</servlet-name>
        <servlet-class>com.chandu.doctor.Dappointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aAuthenticate</servlet-name>
        <servlet-class>com.chandu.labadmin.aAuthenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aregis</servlet-name>
        <servlet-class>com.chandu.labadmin.aregis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phregis</servlet-name>
        <servlet-class>com.chandu.phrmesctics.phregis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phAuthenticate</servlet-name>
        <servlet-class>com.chandu.phrmesctics.phAuthenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phhome</servlet-name>
        <servlet-class>com.chandu.phrmesctics.phhome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ppAuthenticate</servlet-name>
        <servlet-class>com.chandu.pappointment.ppAuthenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload.and.sms.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appoint1</servlet-name>
        <servlet-class>com.chandu.pappointment.Appoint1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailAndSms</servlet-name>
        <servlet-class>com.chandu.doctor.SendMailAndSms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>com.chandu.phrmesctics.edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductForm</servlet-name>
        <servlet-class>com.chandu.phrmesctics.ProductForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rhome</servlet-name>
        <servlet-class>com.chandu.labadmin.rhome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportForm</servlet-name>
        <servlet-class>com.chandu.labadmin.ReportForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stock</servlet-name>
        <servlet-class>com.chandu.doctor.stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accept1</servlet-name>
        <servlet-class>com.chandu.doctor.Accept1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sms</servlet-name>
        <servlet-class>com.chandu.doctor.sms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>com.chandu.labadmin.view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reject</servlet-name>
        <servlet-class>com.chandu.doctor.Reject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>history</servlet-name>
        <servlet-class>com.chandu.doctor.history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dlogout</servlet-name>
        <servlet-class>com.chandu.doctor.dlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.chandu.labadmin.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llogout</servlet-name>
        <servlet-class>com.chandu.labadmin.llogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phlogout</servlet-name>
        <servlet-class>com.chandu.phrmesctics.phlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>com.chandu.labadmin.image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lrecord</servlet-name>
        <servlet-class>com.chandu.patient.Lrecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rsms</servlet-name>
        <servlet-class>com.chandu.labadmin.Rsms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>com.chandu.users.search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dhome</servlet-name>
        <url-pattern>/dhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regis</servlet-name>
        <url-pattern>/regis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vv</servlet-name>
        <url-pattern>/vv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phome</servlet-name>
        <url-pattern>/phome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pAuthenticate</servlet-name>
        <url-pattern>/pAuthenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pregis</servlet-name>
        <url-pattern>/pregis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rappointment</servlet-name>
        <url-pattern>/Rappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appoint</servlet-name>
        <url-pattern>/appoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appoint</servlet-name>
        <url-pattern>/Appoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dList</servlet-name>
        <url-pattern>/dList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plogout</servlet-name>
        <url-pattern>/plogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dappointment</servlet-name>
        <url-pattern>/Dappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aAuthenticate</servlet-name>
        <url-pattern>/aAuthenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aregis</servlet-name>
        <url-pattern>/aregis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phregis</servlet-name>
        <url-pattern>/phregis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phAuthenticate</servlet-name>
        <url-pattern>/phAuthenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phhome</servlet-name>
        <url-pattern>/phhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ppAuthenticate</servlet-name>
        <url-pattern>/ppAuthenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appoint1</servlet-name>
        <url-pattern>/Appoint1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailAndSms</servlet-name>
        <url-pattern>/SendMailAndSms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductForm</servlet-name>
        <url-pattern>/ProductForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rhome</servlet-name>
        <url-pattern>/rhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportForm</servlet-name>
        <url-pattern>/ReportForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stock</servlet-name>
        <url-pattern>/stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accept1</servlet-name>
        <url-pattern>/Accept1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sms</servlet-name>
        <url-pattern>/sms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reject</servlet-name>
        <url-pattern>/Reject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>history</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dlogout</servlet-name>
        <url-pattern>/dlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llogout</servlet-name>
        <url-pattern>/llogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phlogout</servlet-name>
        <url-pattern>/phlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lrecord</servlet-name>
        <url-pattern>/Lrecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rsms</servlet-name>
        <url-pattern>/Rsms</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
